.header{
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 15px 5px #e3e3e3;
  padding: 20px 0px;
}

.headerContent{
  width: 100%;
  max-width: 1260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.headerContent a{
  display: contents;
}

.buttonFavorites{
  width: 100%;
  max-width: 220px;
  height: 45px;
  background-color: #FFFFFF;
  border: 1px solid #D1D1D1;
  color: #000000;
  font-size: 16px;
  text-transform: lowercase;
  letter-spacing: 1.2px;
  font-weight: 700;

  transition: filter 0.2s;
}
.buttonFavorites:hover{
  letter-spacing: 1.5px;
  cursor: pointer;
  filter: blur(0.5);
  border-color: #000000;
}